/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* the arrow styles */

 .arrow-wrap {
   position: absolute;
   z-index: 2;
   left: 50%;
   bottom: -1rem;
   margin-left: -5em;
   width: 10em;
   height: 10em;
   padding: 4em 2em;
   font-size: 0.5em;
   display: block;
 }

 .arrow {
   float:left;
   position:relative;
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 3em 3em 0 3em;
   border-color: #fff transparent transparent transparent;
   -webkit-transform:rotate(360deg)
 }

 .arrow:after {
   content:'';
   position:absolute;
   top:-3.2em;
   left:-3em;
   width: 0px;
   height: 0px;
   border-style: solid;
   border-width: 3em 3em 0 3em;
   border-color: #ee494a transparent transparent transparent;
   -webkit-transform:rotate(360deg)
 }


 .hint {
   position:absolute;
   top:0.6em;
   width:100%;
   left:0;
   font-size:2em;
   font-style:italic;
   text-align:center;
   color:#fff;
   opacity:0;
 }


 .arrow-wrap:hover .hint {
   opacity:1;
 }


 @-webkit-keyframes arrows {
   0% { top:0; }
   10% { top:12%; }
   20% { top:0; }
   30% { top:12%; }
   40% { top:-12%; }
   50% { top:12%; }
   60% { top:0; }
   70% { top:12%; }
   80% { top:-12%; }
   90% { top:12%; }
   100% { top:0; }
 }

 .arrow-wrap .arrow {
   -webkit-animation: arrows 2.8s 0.4s;
   -webkit-animation-delay: 3s;
 }
