<style>
.navbar-toggle {
    z-index:3;
}
</style>
<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar navbar-fixed-top navbar-light bg-faded">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item" style="float:left;">
        <button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
      </li>
    </ul>
    <a class="navbar-brand hidden-sm-up" style="position: absolute;width: 100%;left: 0;top: 0;text-align: center;margin: auto;z-index:-2;margin-top:-6px;">
      <%= image_tag "bitstop.png", style: "width:8rem" %>
    </a>
    <div class="collapse navbar-toggleable-xs" style="z-index:9999;" id="exCollapsingNavbar2">
      <%= link_to bitstop_path, class: 'navbar-brand hidden-xs-down', target: "_blank" do %>
        <%= image_tag "bitstop.png", style: "width:8rem;" %>
      <% end %>
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links', style: "color: #333333;" %>
      </ul>
    </div>
  </nav>
</div>
